<!--
<div class="coust-center">
  <div class='padding-top22'>
  <h3 class='label-bold padding-leftright0 override-label font25'>Customisation Page</h3>
  <p class='label-normal padding-leftright0 override-label font16 label-grey'>please select the options to change the summary grid</p>
  </div>
  <div class='row padding-top22'>
    <div>
    <label class='label-semibold labelblack'>Available Metric Groups</label>
     
    </div>

    

    <div class='col-4 label-semibold labelblac'>Select Fields</div>
  </div>
  <div class='footer'>
    <button id="droppable" type="button" class="btn btn-primary customisation-btn">Save Changes</button>
  </div>
</div>
-->
<label class='label-semibold labelblack'>Available Metric Groups</label>
<div id="myGrid" style="width:100%;height:500px;"></div>