

  <div class="header" >
    <img src="assets/hpeLogo.svg" width="125px">
    <label class="label-semibold label-white float padding-top padding-right20 font16">Logout</label> 
  </div>

<div class='center '>
  <div class="row">
    <ul class="nav" id="pills-tab">
      <li class="nav-item ">
        Deal
      </li>
      <li class="nav-item col-4 padding-left40">
        MyMast
      </li>
      <li class="nav-item col-5 padding-left50">
        Help
      </li>
    </ul>
  </div>
  <div class='padding-top22'>
    <h1 class='label-bold label-black override-label'>ANNOUNCEMENTS</h1>
  </div>

  <div class="padding-top22" *ngFor=" let item of announcement">
    <label class='font16 label-black label-bold override-label'> {{item.title}}</label>
    <p class='font16 label-black label-normal override-label'> {{item.reason}}</p>
  </div>

  <div class='padding-top22'>
    <button class=" padding-top5 label-medium label-white inline-block btncolor-green" (click)="Continue()">Continue</button>
  </div>
</div>