<div class="row">

  <div class="col-2 override-label">
    <label class="label-normal label-grey font12">Coustmer Name</label>
    <p class="label-normal label-black font12">Walker Technology Group</p>
  </div>
   <div class="col-1 override-label">
    <label class="label-normal label-grey font12">Deal Name</label>
    <p class="label-normal label-black font12">Test 01</p>
  </div>
   <div class="col-1 override-label">
    <label class="label-normal label-grey font12">Deal Number</label>
    <p class="label-normal label-black font12">E10345678R</p>
  </div>
   <div class="col-1 override-label">
    <label class="label-normal label-grey font12">Deal Status</label>
    <p class="label-normal label-black font12">Not Authorised</p>
  </div>
   <div class="col-1 override-label">
    <label class="label-normal label-grey font12">Deal Currency</label>
    <p class="label-normal label-black font12">British Pounds</p>
  </div>
 
</div>
<div class='row'>
  <div class="col-6">
    <label class='label-medium label-black font12'>CURRENT LEVEL BU/PL</label>
    </div>
      <div class="col-6 row" >
      <div class="col-1 " style="margin-left:230px">
     <img src="assets/images/section-icons/reload.svg" width="16px" >
  </div>
  <div class="col-1 ">
     <img src="assets/images/section-icons/email.svg" width="16px" >
  </div>
  <div class="col-1 ">
     <img src="assets/images/section-icons/path.svg" width="16px">
  </div>
  <div class="col-1 ">
     <img src="assets/images/section-icons/printer.svg" width="20px" style="padding-right:8px;padding-bottom: 2px; ">
  </div>
   <div class="col-1">
     <img src="assets/images/section-icons/Rectangle 354.svg" width="20px" style="padding-right:8px;padding-bottom: 2px; ">
  </div>
  
      </div>
</div>