<div>
  <label class='col-12 label-green label-bold font24 font-family'>Your registration request for MAST has been confirmed</label>
  <p class='col-12 font-family label-normal label-black font16 margin-btm0 margin-top22'>You can track the approval process at the MAST
    <a href="#" class="">SELF REGISTRATION PAGE</a><br> A confimation link will be sent your email id</p>
  <label class='col-12 font-family label-normal label-black font16 margin-top22 margin-btm0'>Thank you </label>
  <label class='col-12 font-family label-bold label-black font16'>MAST SUPPORT</label>
</div>
<div class='btn-center'>
<button class="reg-req margin-top49">CREATE ANOTHER REGISTRATION REQUEST</button>
<button class="back-to">BACK TO MAST</button>
</div>