<div class="wrapper center">

  <nav id="sidebar">
    <!-- Close Sidebar Button -->
    <div id="dismiss">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <!-- Sidebar Header -->
    <div class="sidebar-header label-medium label-white">
      <h4>MAST v1.9.2</h4>
    </div>


    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
<div>
      <li class="active  label-bold font16 label-green paddingg-top19 no-marleftright override-label">Action</li>
      <li class="label-medium font16 label-white margin-top5">Goal Seek</li>
      <li class="label-medium font16  label-white margin-top5">Export Current View</li>
      <li class="label-normal font16  label-grey margin-top5">Report Cost Issue</li>
      <li class="label-normal font16  label-grey margin-top5">Expand All</li>
      <li class="label-normal font16  label-grey margin-top5">Select All</li>
      <li class="label-normal font16  label-grey margin-top5">Unselect All</li>
</div>
<div>
      <li class="active  label-bold font16 label-green  no-marleftright override-label">Analysis Settings</li>
      <li class="label-medium font16 label-grey margin-top5">Include Open Lines</li>
      <li class="label-medium font16  label-grey margin-top5">Include All Lines</li>
</div>

      <div class="form-check label-medium font16 label-white margin-top5">
        <input class="form-check-input check-box margin-top0" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">Use Future List Price </label>
      </div>

      <div class=" paddingg-top19">
        <label class='label-bold font16 label-green' for="inputState">Display Currency</label>
        <select id="inputState" class="form-control drop-down">
        <option selected>Currency...</option>
        <option>...</option>
      </select>
      </div>
<div>
      <li class="active  label-bold font16 label-green">Apply Changes</li>
      <li class="label-medium font16 label-white margin-top5">Apply Pricing To Deal</li>
      <li class="label-medium font16  label-white margin-top5">Apply Rollout To Deal</li>
      <li class="label-medium font16 label-white margin-top5">Apply All Changes</li>
      <li class="label-medium font16  label-grey margin-top5">Reset Changes</li>
      </div>
    </ul>

<img src="assets/logo.svg" width="50px" class="brand-logo">

  </nav>

  <!-- <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Toggle Sidebar
            </button>
        </div>-->
  <!-- Link with dropdown items -->
  <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
      </ul>-->


</div>