.wrapper {
    display: block;
}
#sidebar {
    min-width: 238px;
    max-width: 238px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    background-color: #425563;
    padding: 20px
}

