

  <nav id="sidebar">
    <!-- Close Sidebar Button -->
    <div id="dismiss">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <!-- Sidebar Header -->
    <div class="sidebar-header label-medium label-white">
      <h4>MAST <Span style="font-size:12px;">v1.9.2</Span></h4>
    </div>



    <!-- Sidebar Links -->
    <ul class="list-unstyled components margin-top15 ">
    
<div>
      <li class="active  label-bold font-size14 label-green no-marleftright " style="margin-top:0px">Action</li>
      <li class="label-medium font-size14  label-white li-between-spacing"><app-goal-seek></app-goal-seek></li>
      <li class="label-normal font-size14  label-grey li-between-spacing">Report Cost Issue</li>
      <li class="label-normal font-size14  label-grey li-between-spacing" (click)="expandAll()">Expand All</li>
      <li class="label-normal font-size14  label-grey li-between-spacing" (click)="collapseAll()">Collapse All</li>
      <li class="label-normal font-size14  label-grey li-between-spacing" (click)="selectAll()">Select All</li>
      <li class="label-normal font-size14  label-grey li-between-spacing" (click)="unselectAll()">Unselect All</li>
</div>
<div>
      <li class="active  label-bold font-size14 label-green no-marleftright ">Analysis Settings</li>
      <li class="label-medium font-size14  label-grey li-between-spacing">Include Open Lines</li>
      <li class="label-medium font-size14  label-grey li-between-spacing">Include All Lines</li>
</div>

      <div class="form-check label-medium font-size14  label-white">
        <input class="form-check-input check-box margin-top0 li-between-spacing" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label li-between-spacing" for="defaultCheck1">Use Future List Price </label>
      </div>

      <div class="paddingg-top19">
        <label class='label-bold font-size14 label-green' for="inputState">Display Currency</label>
        <select id="inputState" class="form-control drop-down">
        <option selected>Currency...</option>
        <option>...</option>
      </select>
      </div>
<div>
      <li class="active  label-bold font-size14 label-green">Apply Changes</li>
      <li class="label-medium font-size14  label-white li-between-spacing ">Apply Pricing To Deal</li>
      <li class="label-medium font-size14  label-white li-between-spacing ">Apply Rollout To Deal</li>
      <li class="label-medium font-size14  label-white li-between-spacing">Apply All Changes</li>
      <li class="label-medium font-size14  label-grey li-between-spacing">Reset Changes</li>
      </div>
    </ul>



    <div class="hpe-logo">


      <img src="assets/hpeLogo.svg" >

    </div>


  </nav>

  <!-- <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Toggle Sidebar
            </button>
        </div>-->
  <!-- Link with dropdown items -->
  <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
      </ul>-->


