<!--<ag-grid-angular class="ag-fresh" [rowData]="rowData" [columnDefs]= "columnDefs" style="width:500px;height:500px"></ag-grid-angular>-->
<!--<app-filter-component></app-filter-component>
<app-excel></app-excel>-->
<!--<hot-table></hot-table>-->
<!-- <app-grid1></app-grid1> -->

<!-- <app-menu></app-menu> -->

<div class="row no-marleftright">
    <div class="col-2">
        <app-sidenav></app-sidenav>
    </div>
    <div class="col-10 padding-leftright0">
        <app-section></app-section>
    </div>
</div>