.mast-tabs{
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(62, 62, 62, 0.16);
    padding: 22px 0px 19px 0px;
}
.mast-tabs li{
    margin-left: 46px;
    font-size: 18px;
}
.mast-tabs li a{
    color: #888888;
    font-family: HPE-Regular;
}
.mast-tabs .nav-link.active{
    font-family: HPE-Semibold;
    color: #283d3f;
    background-color: #fff;
    border-bottom: solid 3px #01a982;
}