
<div class='pad15 pad-left0 label-black font12 font-family label-bold'>DEAL TERMS AND INFO</div>
<div>
  <label class='col-12 pad-left0 margin-btm0 label-normal label-black font12 font-family'>Coustmer Name</label>
  <span class='label-black font12 font-family label-bold'>walker Technology College</span>
</div>
  <div class="row pad15">
  <div class="col-3 pad-left0">
    <label class='label-bold label-black font12 font-family' for="inputState">Sales Country</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3 pad-left0">
    <label class='label-bold label-black font12 font-family'for="inputState">Selling Motion</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3 pad-left0">
    <label class='label-bold label-black font12 font-family' for="inputState">Delivery Method</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3 pad-left0">
    <label class='label-bold label-black font12 font-family'for="inputState">Price Descriptor</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>

</div>
