<div class="row dealview-bgColor pad15">
  <div class="col-3">
    <label class='label-bold label-white font12 font-family'for="inputState">View selection</label>
    <select  id="inputState" class="form-control dealview-bgColor">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3">
    <label class='label-bold label-white font12 font-family'for="inputState">View Option</label>
    <select id="inputState" class="form-control dealview-bgColor">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3">
    <label class='label-bold label-white font12 font-family'for="inputState">View Currency</label>
    <select id="inputState" class="form-control dealview-bgColor">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
  </div>
  <div class="col-3">
    <label for="inputState" class="col-12 label-bold label-white font12 font-family">Contra</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">2</label>
    </div>
  </div>

</div>
<app-deal-info></app-deal-info>
<app-grid1></app-grid1>