/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: HPE-Bold;
    src: url(assets/fonts/MetricHPE-Desktop-Bold.otf);
}
@font-face {
    font-family: HPE-Regular;
    src: url(assets/fonts/MetricHPE-Desktop-Regular.otf);
}
@font-face {
    font-family: HPE-Medium;
    src: url(assets/fonts/MetricHPE-Desktop-Medium.otf);
}
@font-face {
    font-family: HPE-Light;
    src: url(assets/fonts/MetricHPE-Desktop-Light.otf);
}
@font-face {
    font-family: HPE-Semibold;
    src: url(assets/fonts/MetricHPE-Desktop-Semibold.otf);
}
.pad-left0{
    padding-left: 0px !important;
}
.margin-btm0{
    margin-bottom:0px;
}
.margin-top0{
    margin-top:0px;
}
.margin-top14{
   margin-top: 14.5px;
}
.margin-top22{
   margin-top: 22.5px;
}
.margin-top49{
    margin-top:49px;
}
.dealview-bgColor{
background-color: #425563;
color: #e9ecef;
}

.pad15{
    padding: 15px;
}

.padding-leftright0{
    padding-left: 0px !important;
    padding-right:0px !important;
}
.label-bold{
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  font-family: HPE-Bold;
}
.label-normal{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;

  font-family: HPE-Regular;
}
.label-light{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;

  font-family: HPE-Light;
}
.label-semibold{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;

  font-family: HPE-Semibold;
}
.label-medium{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  font-family: HPE-Medium;
}
.label-white{
    color: #ffffff;
}
.label-black{
    color: #333333 !important;
}
.label-green{
    color:#25ae88;
}
.label-grey{
    color: #aaaaaa !important;
}
.font-green{
    color: #00b388;
}
.bg-colorgreen{
    background-color: #00b388;
}
.bg-colorltgrey{
    background-color: lightgrey;
}
.bg-colorgrey{
    background-color: grey;
}
.btncolor-green{
    width: 113.9px;
    height: 30.8px;
    background-color: #00b388;
    border-radius: 2.5px;
    border: solid 1px #25ae88;
    font-stretch: normal;
}
.font8{
    font-size:8px;
}
.font12{
    font-size: 12px;
}
.font16{
   font-size: 16px;
} 
.font24{
font-size:24px;
}

.font-family{
    font-family: ProximaNova;
}
.center {
       margin: 0 auto;
       width: 80%;
  }
  .margin-left{
      margin-left: 25px;
  }
  .btn-center{
      margin:0 auto;
      width:35%;
  }
  
.padding-top{
    padding-top: 15px;
}
.padding-top22{
    padding-top: 22px !important;
}
.padding-top19{
    padding-top: 19px;
}
.padding-top50{
    padding-top:50px
}

.padding-top5{
    padding-top:5px;
}

.no-marleftright{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.block{
    display: block !important;
}
.inline-block{
    display: inline-block !important;
}
.mar-right15{
    margin-right: 15px;
}


.font16{
    font-size: 16px;
}
.mar-bottom24{
    margin-bottom: 24px;
}
.override-label{
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
.card-margin{
    margin-top: 20px;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 0px !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}
.action-btn{
  border: solid 0.5px #333333;
}
.margin-left10{
    margin-left:10px;
}
.margin-top37{
    margin-top:37px;
}
.margin-top23{
    margin-top:23px;
}
.registration{
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin-left: 30px
}
.padding30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pad-top10{
    padding-top: 10px;
}
.check-box{
  width: 17px;
  height: 17px;
  border: solid 1px #ffffff;
  background-color: #425563;
}
.drop-down{
    border: none;
    background-color: #303a42;
    opacity: 0.7;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color:white;
}
