<h6>Select an Application , a an Access profile and enter a buisness case</h6>
<div class="row">
<div class="col-md-6" style="padding: 50px;">
    <label for="Name"><b>Name</b></label><br>
    <input type="text"  class="form-control" placeholder="Name" name="Name" required><br>

    <label for="Enum"><b>Employee Number</b></label><br>
    <input type="password" class="form-control" placeholder="Employee Number" name="Enum"><br>
    
    <label for="Ulog"><b>User Logon</b></label><br>
    <input type="password" class="form-control " placeholder="User Logon" name="Ulog"><br>
    
    <label for="Uemail"><b>User Email</b></label><br>
    <input type="password" class="form-control" placeholder="User Email" name="Uemail"><br>

    <label for="Mname"><b>Manager Name</b></label><br>
    <input type="password" class="form-control" placeholder="Manager Name" name="Mname"><br>

    <label for="Memail"><b>Manager Eamil</b></label><br>
    <input type="password" class="form-control" placeholder="Manager Email" name="Memail">
</div>
<div class="col-md-6" style="padding: 50px;">
    <label for="Ulog"><b>Application</b></label><br>
    <select class="form-control" id="sel1"></select><br>
    
    <label for="Uemail"><b>Access Profile</b></label><br>
    <select class="form-control" id="sel1"></select><br>

    <label for="BU/Geo"><b>BU/Geo Profile</b></label><br>
    <select class="form-control" id="sel1"></select><br>

    <label for="Bcase"><b>Business Case</b></label><br>
    <textarea class="form-control" rows="5" id="comment"></textarea><br>

    <p>MCA is a Geo Profile for LA region only to pre-select all of LA Countries except Brazil & Mexico .Users can still select or deselect other countries within the next two pages.</p>
</div>

</div>
